body{
    background-color: #4699F8;
    box-sizing: border-box;
}

/* .container {
  background-color: #4699F8;
} */

.login-form{

  max-width: 100%;
  padding: 50px 70px;
  margin: auto;
  margin-top: 100px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px ;
  /* background: none; */
  background-color: #F0EEF5;
}


.input{
  text-align: center;
  display: block;
  margin: 0 auto;


  background: none;
}

input{
  width: 100%;
  background-color:#F9F7F7;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
  border: 2px solid  #222831;
  display: flex;
}

p{
  font-size: 0.8rem;
  color: #222831;
}



.check{
  background-color: #F9F7F7;
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;

}
